@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
     
    )
    rgb(var(--background-start-rgb));
}

body {
  color: black;
}

.blur {
  position: absolute;
  width: 22rem;
  z-index: -10;
  height: 14rem;
  border-radius: 50%;
  background: hsl(228, 88%, 61%);
  filter: blur(300px);

  top: -18%;
  left: 56%;
}